<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LibraryManagementSystem.Properties.Settings.LibraryManagementSystemDBConnectionString"
            connectionString="Data Source=DESKTOP-52FDBMD\MSSQLSERVER01;Initial Catalog=LibraryManagementSystemDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="LibraryManagementSystem.Properties.Settings.LibraryManagementSystemConnectionString"
            connectionString="Data Source=LAPTOP-UDPCMQEF;Initial Catalog=LibraryManagementSystem;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>